{% for type, messages in app.flashes %}
    {% for message in messages %}
        <div class="alert alert-{{ type }} mb-0" role="alert">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 d-flex justify-content-between">
                        {{ message }}
                        <div class="icon close">
                            <img src="/assets/img/icons/close.svg" alt="close">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endfor %}
