{% extends 'base.html.twig' %}

{% block title %}
    Réinitialisation du mot de passe envoyé
{% endblock %}

{% block body %}
    <form method="post">
        {% for flash_error in app.flashes('reset_password_error') %}
            <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
        {% endfor %}
    </form>

    <section class="py-5">
        <div class="container px-5">
            <div class="bg-light rounded-3 py-5 px-4 px-md-5 mb-5">
                <div class="text-center mb-5">
                    <h1 class="fw-bolder">Email envoyé</h1>
                    </br>
                    <p>
                        Si un compte correspondant à votre adresse e-mail existe, alors un e-mail vient 
                        d'être envoyé contenant un lien que vous pouvez utiliser pour réinitialiser votre mot de passe.
                        Ce lien expirera dans 
                        {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
                    </p>
                    <p>Si vous ne recevez pas d'e-mail, veuillez vérifier votre dossier de spam ou <a
                                href="{{ path('app_forgot_password_request') }}">réessayez</a>.</p>

                </div>
            </div>
        </div>
    </section>
{% endblock %}

