<h1>Bonjour!</h1>

<p>Pour réinitialiser votre mot de passe, veuillez visiter le lien suivant:</p>

<a href="{{ resetUrl }}">{{ resetUrl }}</a>

<p>Ce lien expirera dans: 1 hour.</p>

<p>Bonne chance!</p>