{% extends 'base.html.twig' %}

{% block title %}Administration des tricks{% endblock %}

{% block body %}
    <main class="flex-shrink-0">
        <section class="py-5">
            <div class="container px-5 my-5">
                <h1>Ajouter des tricks</h1>
                {% include "trick/_form.html.twig" %}
            </div>
        </section>
    </main>
{% endblock %}




